.TableB {
	height: 55px;
	width: 12.5%;
	text-align: center;
}

.Tablex {
	height: 55px;
	width: 25%;
	text-align: center;
}


#TableQ {
	width: 78%;
	margin-top: 40px;
	margin-left: 11%;
}

.TableA {
	padding-left: 2%;
	height: 30px;
}

.TableH {
	height: 55px;
	width: 12.5%;
	text-align: center;
	color: black;
	background: #fff78c;
}

.TableR {
	height: 55px;
	width: 12.5%;
	text-align: center;
	color: black;
	background: #c4f0c5;
}

.TableH:hover {
	background: #97de95;
	cursor: pointer;
}

@media screen and (max-width: 750px) {
	#TableQ{
		margin-left: 0;
	}
}

@media screen and (max-width: 1400px){
	.Rima{
		height: 5vw;
		width: 5vw;
		padding-left: 85vw;
	}
	.Lima{
		height: 5vw;
		width: 5vw;
	}
}

#TableJ {
	display: none;
	width: 78vw;
	margin-top: 40px;
	margin-left: 11%;
	opacity: 0;
}

.TableM {
	text-align: center;
	background: #fff78c;
}

.TableM:hover {
	background: #97de95;
	cursor: pointer;
}

.TableN {
	text-align: center;
	background: #c4f0c5;
}